@model BookStoreMVC.ViewModels.Admin.AddUserViewModel
@{
    ViewBag.Title = "Add User";
    Layout = "_LayoutAdmin";
}

<h2>Add user</h2>
<form method="post" asp-action="AddUser" asp-controller="Admin">
    @* FirstName *@
    <div class="mb-7">
        <label class="mb-9" asp-for="@Model.FirstName"></label>
        <input asp-for="@Model.FirstName"
               class="block rounded-md bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm w-72 p-2.5 focus:outline-none focus:border-primary transition-colors duration-300"/>
        <span asp-validation-for="@Model.FirstName" class="text-red-700"></span>
    </div>
    @* FirstName *@

    @* LastName *@
    <div class="mb-7">
        <label class="mb-9" asp-for="@Model.LastName"></label>
        <input asp-for="@Model.LastName"
               class="block rounded-md bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm w-72 p-2.5 focus:outline-none focus:border-primary transition-colors duration-300"/>
        <span asp-validation-for="@Model.LastName" class="text-red-700"></span>
    </div>
    @* LastName *@

    @* Username *@
    <div class="mb-7">
        <label class="mb-9" asp-for="@Model.Username"></label>
        <input asp-for="@Model.Username"
               class="block rounded-md bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm w-72 p-2.5 focus:outline-none focus:border-primary transition-colors duration-300"/>
        <span asp-validation-for="@Model.Username" class="text-red-700"></span>
    </div>
    @* Username *@

    @* Password *@
    <div class="mb-7">
        <label class="mb-9" asp-for="@Model.Password"></label>
        <input asp-for="@Model.Password"
               class="block rounded-md bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm w-72 p-2.5 focus:outline-none focus:border-primary transition-colors duration-300"/>
        <span asp-validation-for="@Model.Password" class="text-red-700"></span>
    </div>
    @* Password *@

    @* Gender *@
    <div class="mb-7">
        <label class="mb-9" asp-for="@Model.Gender"></label>
        <select asp-for="@Model.Gender"
                class="block rounded-md bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm w-72 p-2.5 focus:outline-none focus:border-primary transition-colors duration-300">
            @foreach (var item in Model.GenderList)
            {
                <option value=@item.Value>@item.Text</option>
            }
        </select>
    </div>
    @* Gender *@

    @* Email *@
    <div class="mb-7">
        <label class="mb-9" asp-for="@Model.Email"></label>
        <input asp-for="@Model.Email"
               class="block rounded-md bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm w-72 p-2.5 focus:outline-none focus:border-primary transition-colors duration-300"/>
        <span asp-validation-for="@Model.Email" class="text-red-700"></span>
    </div>
    @* Email *@

    @* Country *@
    <div class="">
        <label asp-for="@Model.Country" class=" text-sm font-medium text-gray-700 tracking-wide"></label>
        <input asp-for="@Model.Country"
               class="w-full  text-base px-4 py-2 border-2  border-gray-300 rounded-lg focus:outline-none focus:border-primary transition-colors duration-300"
               type="text" placeholder="Viet Nam">
        <span asp-validation-for="@Model.Country"></span>
    </div>
    @* Country *@

    @* Address *@
    <div class="">
        <label asp-for="@Model.AddressType" class=" text-sm font-medium text-gray-700 tracking-wide"></label>
        <input asp-for="@Model.AddressType"
               class="w-full  text-base px-4 py-2 border-2  border-gray-300 rounded-lg focus:outline-none focus:border-primary transition-colors duration-300"
               type="text" placeholder="312 Lac Long Quan">
        <span asp-validation-for="@Model.AddressType"></span>
    </div>
    <div class="">
        <label asp-for="@Model.Address" class=" text-sm font-medium text-gray-700 tracking-wide"></label>
        <input asp-for="@Model.Address"
               class="w-full  text-base px-4 py-2 border-2  border-gray-300 rounded-lg focus:outline-none focus:border-primary transition-colors duration-300"
               type="text" placeholder="312 Lac Long Quan">
        <span asp-validation-for="@Model.Address"></span>
    </div>
    @* Address *@

    @* Role *@
    <div class="mb-7">
        <label class="mb-9" asp-for="@Model.Role"></label>
        <select asp-for="@Model.Role"
                class="block rounded-md bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm w-72 p-2.5 focus:outline-none focus:border-primary transition-colors duration-300">
            @if (true)
            {
                foreach (var item in ViewBag.RolesList)
                {
                    <option value=@item.Name>@item.Name</option>
                }
            }
        </select>
    </div>
    @* Role *@
    <button type="submit" class="nonBgButton w-full py-2 col-span-2 text-lg  font-bold">Add</button>
</form>