@{
    var prevDisabled = !Model.HasPreviousPage ? true : false;
    var nextDisabled = !Model.HasNextPage ? true : false;
}
<div class="flex justify-center -space-x-px py-4 bg-white text-normalText ">

    <!-- Next Button -->
    <a asp-action=@Model.Type asp-route-pageNumber="@(Model.PageIndex - 1)"
        class="@(prevDisabled ? "pointer-events-none bg-slate-200" : "") inline-flex items-center px-4 py-2 text-sm font-medium rounded-l-md   border   bg-white border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
        </svg> </a>
    <!-- Next Button -->

    @* Page num Buttons *@
    @for (var i = @Model.StartPage; i <= Model.EndPage; i++)
    {
        if (@Model.PageIndex == i)
        {
            <a aria-current="page"
        class="z-10 px-3 py-2 leading-tight text-primary2-700 border border-primary2-100 bg-primary2-100 hover:bg-primary2-200 hover:text-primary2-900 transition-colors duration-200 ">@i</a>
        }
        else
        {
            <a asp-route-pageNumber="@i" asp-action=@Model.Type
        class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">@i</a>
        }
    }
    @* Page num Buttons *@


    <!-- Previous Button -->
    <a class="@(nextDisabled ? "pointer-events-none bg-slate-200" : "") inline-flex items-center px-4 py-2 text-sm font-medium rounded-r-md   border   bg-white border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 "
        asp-action=@Model.Type asp-route-pageNumber="@(Model.PageIndex + 1)">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
        </svg>
    </a>
    <!-- Previous Button -->


</div>